html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
  background: #000;
}

h1 {
  font-family: "Cinzel", serif;
  font-weight: 400;
  letter-spacing: 0.0em;
  opacity: 0.9;
}